	
/*SITE*/
	
@font-face {
    font-family: 'Krungthep';
    src: url('../fonts/Krungthep/Krungthep.ttf')   /*  format('truetype')*/;
  
  }
		
	body{
		margin-top: 0; 
		/*background: url(../images/dark_wall.png);*/
		background:    rgba(38,30,24,1)/*261E18 */ /* rgba(85, 69, 53, 1) */               /* #554535*/ ;
		/*background:  #261E18;*/
		}
	h1{
		font-size: 30px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #DF9731;
		margin-bottom: 0;
		font-weight: 600;}
	
	h2{
		font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #554535;
		font-weight: bold;
		line-height: 40px;
		margin-bottom: 5px;
		}
		
	h3{
		font-size: 22px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #ffffff;
		}
		
	h4{
		font-size: 30px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #3b4f6c;
		font-weight: 600;
		}

	p, label{
		font-family: 'Helvetica Neue', sans-serif;	
		font-size: 14px;
		font-weight: bold;
		color: #554535;
		}
	
	a, a:hover{
			
		color: #554535;
		font-weight: 600;}

	.small{
     	 	color:#554535;
			display:inline-block;
			font-size:12px;
			font-weight:600;
			text-align:left;
			width:200px;
     	 }
		
	
	.wrap-header{
		background-color: #261E18;
		width: 100%;
		color: #ffffff;
		}
		
	h1.logo a {
		display: block;
		width: 350px;
		height: 50px;
		float: left;
		font-family:   'Zantroke';
		color: #ebe5c5;
		font-size: 1.5em;
		text-decoration: none;
		font-weight: 400;
		}
	/*css typography*/
	h4.name {
	 	margin-top: 10px;
	 /*	margin-left: 10px;*/
	 	width: auto;
	 	color: /*#32574F*/ #3b4f6c;
	 	display: inline;
	 	float: left;
	 	}
	 	.address, .address p  {
	 /*	margin-left: 10px;*/
	 	color: #3b4f6c;
	 	display: block;
	 	/*display: inline-block;*/
		/*float: left;*/
		font-size: 18px;
		
		font-weight:600;
		/*text-align:left;*/
		width:auto;	
	 }
	 .web-address a, .web-address p  {
	 /*	margin-left: 10px;*/
	 	color: #e1992d;
	 	display: block;
	 	/*display: inline-block;*/
		/*float: left;*/
		font-size: 16px;
		font-weight:600;
		/*text-align:left;*/
		width:auto;
		t	
	 }
	 .info, .info p  {
	 /*	margin-left: 10px;*/
	 	color: #32574f;
	 	display: block;
	 	/*display: inline-block;*/
		/*float: left;*/
		font-size: 14px;
		
		font-weight:600;
		/*text-align:left;*/
		width:auto;	
	 }
	
	/*facebook-login*/				
	 .login a {
	   float: right;
		width: 200px;
		height: 38px;
		font: 0/0 a;
   		text-shadow: none;
		color: transparent;
 		}
		 
	.login a {
		background: url(../images/facebook-login.png)no-repeat ;
		margin: 15px 0 0 0;}

	/*menu*/
   .menu{
	  background: url(../images/menu-ribbon-left.png) left no-repeat;
	  background: url(../images/menu-ribbon.png) repeat-x;
	    
	    /*background: url(../images/menu.png) no-repeat;*/
	   }	
	 	
	nav.primary{
		display: inline;		
		width: 960px;		
		height: 40px;
		padding-top: 10px;
		}
	
	nav.primary ul{
		float: none;
		width: 450px;		
		margin-left: 30px;
		}
	
	nav.primary ul li{
		float: left;
		margin-top:12px;
		margin-left: 20px;
		}	

	nav.primary ul li a{
		display: inline-block;
		padding-right: 2px;
		font-size: 1.3em;
		font-weight: 600;
		color: #ede4c7;
		text-decoration: none;
		font-family: 'Krungthep';	
		}	
		
	nav.primary ul li a:hover{
		color:#AE1215;
		text-decoration: none;
		}
		
	.menu-search{
		margin-top:5px;
	 	border: 2px solid #ede4c7; 
   		border-radius:10px;
	 	width: 304px; 
  		float:right;
  	    margin-right:50px;
   		height: 25px;
   		display: inline-block;   
     	}
   
   .menu-search form {
        height:30px;
    	}
    	
	.menu-search input[type="search"] {
		border:none;
		margin-top:-15px;
    	outline: none; 
    	-webkit-appearance: none; 
    	width: 274px; 
    	vertical-align: middle; 
    	background-color:transparent;
    	color: #ede4c7;
    	font-size: 14px;
   		}
 
	.menu-search input[type="submit"], .menu-search input[type="submit"]:hover {
   		/* width: 20px;
    	height: 20px; */
    	max-height:20px;
    	background: url(../images/search.png) no-repeat 50% 50%;
    	border: none;
    	margin-top: 2px;
    	} 

	/*h2.one-third   {
		padding-left:45px;
		margin-top: 50px;
		}*/
	
	/*image-frame homepage*/
	a.plain img{
    	border: 2px solid #cec8c1;
    	padding: 5px;
    	width: 200px;
    	background-color: #EFEECB;
    	}
    
    a.plain:hover img{
  	 	border: 2px solid #e1992d /*#32574F*/;
    	/*padding: 5px 0 0 5px;*/
    	/*width: 205px;*/
    	background-color: #F9EBD4; 	
    	}
	
	a.more:hover{
		background: #b54646;
		}	
		
	footer {
		/*background: url(../images/footer.png)*/;
		background-color: #32574F /*#554535*/;
		}
	
	footer h3{
		margin-top: 50px;		
		font-size: 18px;	
		}		

	.tweets p, .news p, .contact p {
		font-family:  'Source Sans Pro', sans-serif;
		font-size: 13px;
		margin-bottom:  5px;
		}
		
    .tweets small, .news  small, .contact  small {    	
    	color: #339999;
    	/*padding-left:45px;*/
		/*margin-top: 500px;*/
		margin-bottom: 10px;
		margin-bottom: 10px;
		}		 
	
	.tweets ul li, .news li{
		margin: 0;
		margin-top: 10px;
		border-bottom: 1px dashed #272e2e;
	/*	padding-top: 1px dashed #ffffff;*/
		padding 15px 0; }
		
		a.footer-button{
		display: inline-block;
		float: right;
		padding: 5px 15px;
		background: #333333;
		border: 1px solid #171717;
		/*box-shadow: 0 -1px 0 #782929;*/
		-webkit-border-radius: 2px;
		border-radius: 3px;		
		text-decoration: none;
		color: #ffffff;
		text-shadow: 0 -1px 0 #539544;
		}
	
	a.footer-button:hover{
		background: #262626;
		}	
	
	
		
	.beer-details{
		/*margin: 20px 10px;*/}
  
  /* .place-list ul li{} */
   /*	margin: 20px;}
   .place-list ul li a{
   		font-size: 1.2em;
   		text-decoration: none; 
   		font-family: 'Helvetica Neue', sans-serif;}
   */		
	
/*	----columns - offsets------------------*/
	
   .content{
		margin-bottom: 20px;
		margin-top: 15px;
		background: url(../images/background_light.png) } 
    
    .container{}
		
	.four.columns{
     	margin:  20px 0 20px 17px; 
     	}
   	.two-thirds.column.left, .one-third.column.left  {
   		margin-left: 20px;
   		margin-right: 0;
   	}
   	.sixteen.columns{
   		margin-left: 20px;
   	}	
   	.two.columns.left{
   		margin-left: 0;
   	}
	
	/* ---------product-page----*/
	 
	.product-header ul{	
		float: left;
	}
	.product-header ul li{
		float: left;
	}
	 
	 .two.columns:first-child{
		margin-left: 0;
		border 1px solid red;
	}

	.two-thirds.column{margin-left: 10px;}

	 /*--------beer-brands---*/
	 
	 .beer-brands{
	 
	 }	
	 .beer-brands ul{
	 	list-style-type: none;	
	 }
	 .beer-brands ul li{
	 	float: left;
	 	
	 	background: red;
	 	paddding-top: 20px;
	 	border-radius: 3px;
	 	line-height: 2em;
	 	overflow: hidden;
	 
	 }	
	 
	 .beer-brands ul li a{
	 	padding: 20px;

	
	 }	   		
    /*------------*/
    .brands-selectable{

    }
    .brands-selected,  .beer-places   {
    	
    	vertical-align: middle; 
    	padding: 0;
    	margin: 0;
    	
   		}	


	.brands-selected ul{
		margin-left: 0;
	} 
   	
    .brands-selected ul li{
    	margin: 0 10px 5px 0;
    	padding: 0;
    	border: 2px solid #32574F;
    	border-radius: 3px;

    }

    .beer-places ul li{
    	margin: 0 10px 5px 0;
    	padding: 0;
    	border: 2px solid #261E18;
    	border-radius: 3px;
    	min-height: 45px;
    	vertical-align: middle;
    	/*width: 280px;*/

    }
	
	.brands-selected ul li:first-child, .beer-places ul li:first-child{
    	margin-top: 11px;
    }
	.brands-selected ul li:hover, .beer-places ul li:hover{
    	
    	border: 2px solid #a62812;
    	border-radius: 3px;
    }
	.brands-selected ul li a{
		margin: 0;
		padding:10px 0 0 10px;
    	display: block;	
    	min-width: 150px;
    	width: 230px;
    	float: left;
    	color: #32574F;
    	text-decoration: none;
    	
    }



 .beer-places ul li a{
		margin: 0;
		padding:5px 0 0 10px;
    	display: block;	
    	min-width: 150px;
    	width: 230px;
    	float: left;
    	color: #261E18;
    	text-decoration: none;
    	font-size: 1.2em;
    	
    }

    .beer-places ul li
    {padding-top: 0;}

    .brands-selected ul li a:hover{
		
    	color: #a62812;
    	
    }
	
	.brands-selected input[type="submit"] .brands-selected input[type="submit"]:hover {
		padding: 0;
    	margin: 0;
   		display: inline-block;
   		float: right;
    	} 

    .brands-selectable{
    margin-top: 10px;	 
    }


	.brands-selectable-panel{
	/*margin-left: 10px;*/
	margin-right: 25px;
	margin-top: 10px;
	}

	.brands-selected-panel{
	 	margin-right: 10px;
	 	margin-top: 10px;	}

    .brands-selectable-panel, .brands-selected-panel{
    	height: 40px;
    	border: 2px solid #32574F;
    	border-radius: 3px;
    	background: #32574F; 
    }
    .brands-selectable-panel p, .brands-selected-panel p {
     font-size: 1.2em;
     color:  #ede4c7;
     float: left;
     display: block;	
     line-height: 1.4em;
     margin-top: 7px;
     padding-left: 10px; 
    }
    .brands-selected-panel p{

    }

    .brands-selectable-search{
	
	 	border: 2px solid #ede4c7; 
   		border-radius:10px;
	 	width: 304px; 
  		float:right;
  	   	margin-top: 5px;
  	   	margin-right:10px;
   		height: 25px;
   		display: inline-block;   
     	}
   
   .brands-selectable-search form {
        height:30px;
    	}
    	
	.brands-selectable-search input[type="search"] {
		border:none;
		margin-top:-15px;
    	outline: none; 
    	-webkit-appearance: none; 
    	width: 274px; 
    	vertical-align: middle; 
    	background-color:transparent;
    	color: #ede4c7;
    	font-size: 14px;
   		}
 
	.brands-selectable-search input[type="submit"], .brands-selectable-search input[type="submit"]:hover {
   		/* width: 20px;
    	height: 20px; */
    	max-height:20px;
    	background: url(../images/search.png) no-repeat 50% 50%;
    	border: none;
    	margin-top: 2px;
    	} 
    
    .brands-selected input[type="submit"], .beer-places input[type="submit"], .brands-selected input[type="submit"]:hover
    	{
    	margin-top: 6px;
    	margin-right: 10px;	
    	width: 25px;
    	border: none;

    	}

    .brands-selected input[type="submit"], .beer-places input[type="submit"] {
    	background: url(../images/delete.png) no-repeat;
    	}

    	.brands-selected input[type="submit"]:hover, .beer-places input[type="submit"]:hover{
    		background: url(../images/delete-hover.png) no-repeat;
    	}
    	
    .brands-selected-clear-all input[type="submit"], .brands-selected-clear-all input[type="submit"]:hover{
    	float: right;
    	display: inline-block;
    	margin-right: 14px;
    	margin-top: 4px;
    	border: none;
    	color: #ede4c7;
    	font-size: 16px;
    	font-style: lighter;
    	text-shadow: none;
    	font-weight: lighter;
    }

     	.brands-selected-clear-all input[type="submit"]
     	 {
     	 background: url(../images/button-red.png) no-repeat;	
     	 }
     	 .brands-selected-clear-all input[type="submit"]:hover{
     	  background: url(../images/button-red-hover.png) no-repeat;	
     	 }

     	  
        .beer-places-panel{
	 	margin-right: 10px;	}

    .beer-places-panel {
    	height: 40px;
    	border: 2px solid #32574F;
    	border-radius: 3px;
    	background: #32574F; 
    }
    .beer-places-panel p{
     font-size: 1.2em;
     color:  #ede4c7;
     float: left;
     display: block;	
     line-height: 1.4em;
     margin-top: 7px;
     padding-left: 10px; 
    }

    
 

.header-name{
	display: block;
	float: left;
	width: 960px;
}

.place-list ul{
	margin-top: 0;

}
.place-list ul li:first-child{
margin-top:0; 
}
.place-list ul li a{
text-decoration: none;
color: #3b4f6c;
font-size: 1em;
}

 

      .address
      {
        font-size: 1em;
      }
    
     
		.pick{
			display: block;
			float: left;
			border-collapse: collapse;
		}
		a.pick-icon1 {	
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		background: url("../images/pick-icon.png") no-repeat;
		width: 28px;
      	height: 28px;
      	display: inline-block;
      	position: absolute;
      	}
      	a.pick-icon2 {	
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		background: url("../images/edit-icon2.png") no-repeat;
		width: 28px;
      	height: 28px;
      	display: 	inline-block;
      	position: absolute;
      	margin-left: 10px;
      	margin-top: -6px;
		}

		a.pick-icon2:hover{
			background: url("../images/edit-icon2-hover.png") no-repeat;
		}	


      	a.pick-icon3 {	
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		background: url("../images/edit-brands-icons.png") no-repeat;
		width: 28px;
      	height: 28px;
      	display: inline-block;
      	position: absolute;
      	margin-left: 45px;
      	margin-top: -6px;
      	}

      	a.pick-icon3:hover{
			background: url("../images/edit-brands-icons-hover.png") no-repeat;
		}	


      	a.pick-icon1:hover{
    		background: url("../images/pick-icon-hover.png") no-repeat;
  		
      	}
		.place-details{
			
			margin-left: 30px;
			margin-top: 10px;
			display: block;
			
		}
		.place-details::after{
			display: block;
			visibility: hidden;
			clear: both;
			height: 0;
			content: "."

		}
		.name1, .name1 a{
			font-size: 22px;
			display: inline;
			margin-bottom: 0.1em;
			font-weight: 600;
			color: #3b4f6c;
			font-family: 'Source Sans Pro', sans-serif;
			text-decoration: none;
			}

		.name1 a:hover{
			text-decoration: underline;
		}
		.edit{
			display: inline;
		}
		a.edit img{
			background: url("../images/edit-icon2");
		}

		p.tags{
			line-height: 1.8;
			margin-bottom: 5px;
		}

		p.tags a {
			text-decoration: none;
			margin-right: 3px;
			color: #554535;
			border: 1px solid #e1992d;
			border-radius: 3px;
			padding: 1px 2px;
			background: #e1992d;
		}
		p.tags a:hover{
			background: #F9A022;
			color: #261Ñƒ18;
		}

		
		